# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/static/
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/

# Editor / OS
.vscode/
.DS_Store
